<div>
    <ul class="links">
      <li>
        <a href="#"><i class="fas fa-home"></i> Home</a>
      </li>
      <li>
        <a href="/politics"><i class="fas fa-film"></i> Politics</a>
      </li>
      <li>
        <a href="/business"><i class="fas fa-chart-line"></i> Business</a>
      </li>
      <li>
        <a href="/economics"
          ><i class="fas fa-chart-network"></i> Economics</a
        >
      </li>
      <li>
        <div class="dropdown">
          <button class="dropbtn">
            Others <i class="fas fa-chevron-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/world">World</a>
            <a href="/technology">Technology</a>
            <a href="/science">Science</a>
            <a href="/energy">Energy</a>
            <a href="/food">Food</a>
            <a href="/entertainment">Entertainment</a>
            <a href="/travel">Travel</a>
            <a href="/music">Music</a>
            <a href="/sport">Sport and Gaming</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="seachbar">
    <form action="/" method="POST" class="form1">
        <input
          type="text"
          placeholder="Search for news"
          name="search"
          class="search"
        />
        <button style="border: 0; cursor: pointer" type="submit">
          <i
            style="background: var(--primary); padding: 10px"
            class="fas fa-search fa-1x"
          ></i>
        </button>
      </form>
    </div>
  </div>